/* body {
  background: rgb(37,89,131);
  background: linear-gradient(90deg, rgba(37,89,131,1) 8%, rgba(117,195,227,1) 51%, rgba(94,135,147,1) 82%, rgba(107,153,153,1) 100%);
} */
* {
  box-sizing: border-box;
}
.container {
  opacity: 0.8;
}
.container a {
  font-family: 'Coda Caption', sans-serif;
}
/* scroll-container {
    width: 100%;
    height: 100%;
    transition: 5s;
    top: 0;
    left: 0;
    margin-left: 0;

    z-index: 1;
}
scroll-section {
  width: 100%;
  left: 0;
  top: 0;
  box-sizing: border-box;
} */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
#mainNav {
    position: fixed;
    width: 100vw;
    background-color: black;
    border-color: rgba(161, 39, 231, 1);
    border-style: solid;
    border-width: 0 0 1px 0;
    text-decoration: none;
    z-index: 1;
    left: 0;
    top: 0;
    transition: 0.4s;
    font-size: 15px;
    padding: 20px 0px;
}

ul {
    list-style: none;
    max-width: 100%;
}

.nav-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

.nav-right {
    float: right;
}
div.container {
    margin: 0 auto;
    text-align: center;
}
/* .flex-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
} */
.flex-container {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}

div.container a {
    color: #f4f4f4;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0px 20px;
    padding-bottom: 0px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    line-height: 100%;
    text-align: center;
}

#nav-brand {
    float: left;
    font-size: 25px;
    font-weight: bold;
}

.container a:hover {
    color: skyblue;
    cursor: pointer;
}

.container a.active {
    color: skyblue;
}
@media screen and (max-width: 580px) {
  #mainNav {
    padding: 20px 0px;
  }
  #mainNav a {
    display: block;
  }
}
.jumbotron {
  position: relative;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  left: 0;
}
.jumbotron h2 {
  text-align: center;
  font-size: 2em;
  font-family: 'Lacquer', sans-serif;
  padding: 10px;
  margin: 15px;
  z-index: 1;
  opacity: 0.6;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
}
.overlay-color {
  position: absolute;
  top: 0;
  left: 0;
  background-color: lightblue;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
}
video {
  justify-content: center;
  width: 100%;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.flex-item {
  text-align: center;
  margin: 10px;
  font-family: 'Sriracha', cursive;
  line-height: 100%;
  flex: 33.33%;
  max-width: 33.33%;
  padding: 0 2px;
}

.row {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
img {
  border-radius: 5px;
}
/* .row .col {
  justify-content: center;
  margin: 8px;
} */
.row .col  img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  transition: 1s;
  transform: scale(1.08);
}
.col{
  flex: 33.33%;
  max-width: 100%;
  padding: 0 3px;
}
.col img {
  margin-top: 8px;
  width: 100%;
  vertical-align: middle;
}
@media only screen and (max-width: 800px) {
  .col {
    flex: 50%;
    max-width: 50%;
  }
  .flex-item {
    flex: 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .col {
    flex: 100%;
    max-width: 100%;
  }
}
.h2 {
  margin: 0 auto;
  text-align: center;
  font-family: 'Sriracha', cursive;
  border-bottom: 2px solid lightblue;
  width: 50%;
}
.modalshow {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  display: none;
}
.modal-content {
  justify-content: center;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  width: 100%;
  max-width: 750px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
}
#closeBtn {
  float: right;
  color: #ccc;
  font-size: 30px;
}
#closeBtn:hover, #closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* div.jumbotron {
    height: 20%;
    width: 100%;
    background: url(https://images.unsplash.com/photo-1580149959316-75e2487cfb06?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1058&q=80);
    background-size: cover;
    background-position: center;
} */
.bg-img {
  background-image: url("https://images.unsplash.com/photo-1548712637-033b00ef9b4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-repeat: no-repeat;
  background-size: 100% 1000px;
  background-attachment: fixed;
  display: inline-block;
  height: 500px;
  width: 100%;
  left: 0;
  right: 0;
  align-self: center;
  position: relative;
  background: cover;
  display: flex;
  justify-content: center;
}
.bg-img .row {
  margin-top: 80px;
}

.carousel {
    position: relative;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
    margin-top: 5px;
    margin-bottom: 40px;
    justify-content: center;
}

.carousel-display {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-show:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    transition: opacity 0.6s ease;
}

.carousel-item img {
    display: block;
    height: auto;
    width: 100vw;
    max-width: 100%;
}
.carousel-button:hover {
  background: rgba(0, 0, 0, 0.2);
  color: skyblue;
}
.carousel-button {
    border-radius: 50%;
    color: #fff;
    position: absolute;
    cursor: pointer;
    display: none;
    font-size: 80px;
    height: 40px;
    line-height: 25px;
    top: 50%;
    text-align: center;
    width: 40px;
}

.carousel-button.prev {
    left: 5%;
}

.carousel-button.next {
    right: 5%;
}


#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}
